<a href="https://colab.research.google.com/github/GaneshkumarPatel/cohort_kaimur-capstone_eda_project/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [13]:
working_path='/content/drive/My Drive/capstone data/'

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [87]:
df1=pd.read_csv(working_path+'Play Store Data.csv')
df2=pd.read_csv(working_path+'User Reviews.csv')

In [17]:
df1.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite â€“ FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [98]:
df1.tail()

                                                 App  ...         Android Ver
10836                               Sya9a Maroc - FR  ...          4.1 and up
10837               Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10838                         Parkinson Exercices FR  ...          2.2 and up
10839                  The SCP Foundation DB fr nn5n  ...  Varies with device
10840  iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[5 rows x 13 columns]

In [69]:
#Checking Number of columns and rows
df1.shape

(10841, 13)

In [99]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [102]:
def infodata(df):
  infodf=pd.DataFrame()
  infodf['App']=df.columns
  infodf['count_of_NaN_values']=df.isnull().sum().values
  infodf['unique_number_of_daata']=df.nunique().values
  infodf['datatype']=df.dtypes.values
  return infodf

In [103]:
infodata(df1)

               App  count_of_NaN_values  unique_number_of_daata datatype
0              App                    0                    9660   object
1         Category                    0                      34   object
2           Rating                 1474                      40  float64
3          Reviews                    0                    6002   object
4             Size                    0                     462   object
5         Installs                    0                      22   object
6             Type                    1                       3   object
7            Price                    0                      93   object
8   Content Rating                    1                       6   object
9           Genres                    0                     120   object
10    Last Updated                    0                    1378   object
11     Current Ver                    8                    2832   object
12     Android Ver                    3                      33   object

In [116]:
df1['Content Rating'].index(df1['Content Rating'].isnull())

TypeError: ignored

In [105]:
df1.Rating.fillna(df1.Rating.median(),inplace=True)

In [106]:
df1.describe()

             Rating
count  10841.000000
mean       4.207841
std        0.500893
min        1.000000
25%        4.100000
50%        4.300000
75%        4.500000
max       19.000000

In [70]:
df1.drop_duplicates(inplace=True)
df1.shape

(10358, 13)

In [71]:
df1[df1.App=='10 Best Foods for You']

                        App            Category  ...  Current Ver   Android Ver
1393  10 Best Foods for You  HEALTH_AND_FITNESS  ...          1.9  2.3.3 and up

[1 rows x 13 columns]

In [68]:
df2[df2.App=='10 Best Foods for You']

                       App  ... Sentiment_Subjectivity
0    10 Best Foods for You  ...               0.533333
1    10 Best Foods for You  ...               0.288462
2    10 Best Foods for You  ...                    NaN
3    10 Best Foods for You  ...               0.875000
4    10 Best Foods for You  ...               0.300000
..                     ...  ...                    ...
195  10 Best Foods for You  ...               0.475000
196  10 Best Foods for You  ...               0.400000
197  10 Best Foods for You  ...               0.683333
198  10 Best Foods for You  ...               0.285714
199  10 Best Foods for You  ...               0.533333

[200 rows x 5 columns]

In [97]:
df2[df2[df2.isnull().any(axis=1)]]

ValueError: ignored

In [76]:
print(df2.shape)
df2.drop_duplicates(inplace=True)
df2.shape

(64295, 5)

(30679, 5)

In [85]:
df2.dropna(inplace=True)

In [86]:
df2.shape

(29692, 5)

In [61]:
df1.isnull().sum().values

TypeError: ignored

In [59]:
infodf

               App  count_of_NaN_values
0              App                  NaN
1         Category                  NaN
2           Rating                  NaN
3          Reviews                  NaN
4             Size                  NaN
5         Installs                  NaN
6             Type                  NaN
7            Price                  NaN
8   Content Rating                  NaN
9           Genres                  NaN
10    Last Updated                  NaN
11     Current Ver                  NaN
12     Android Ver                  NaN

In [63]:
infodata(df)

               App  count_of_NaN_values  unique_number_of_daata datatype
0              App                    0                    9660   object
1         Category                    0                      34   object
2           Rating                 1474                      40  float64
3          Reviews                    0                    6002   object
4             Size                    0                     462   object
5         Installs                    0                      22   object
6             Type                    1                       3   object
7            Price                    0                      93   object
8   Content Rating                    1                       6   object
9           Genres                    0                     120   object
10    Last Updated                    0                    1378   object
11     Current Ver                    8                    2832   object
12     Android Ver                    3                      33   object

In [51]:
df1.dtype

AttributeError: ignored