<a href="https://colab.research.google.com/github/GaneshkumarPatel/cohort_kaimur-capstone_eda_project/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

In [11]:
#importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [9]:
#mounting drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
#defining working path
working_path='/content/drive/My Drive/capstone data/'

In [177]:
#loading csv files required for EDA
df1=pd.read_csv(working_path+'Play Store Data.csv')
df2=pd.read_csv(working_path+'User Reviews.csv')

In [170]:
#looking for top 5 rows
df1.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [98]:
#looking for last 5 rows

df1.tail()

                                                 App  ...         Android Ver
10836                               Sya9a Maroc - FR  ...          4.1 and up
10837               Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10838                         Parkinson Exercices FR  ...          2.2 and up
10839                  The SCP Foundation DB fr nn5n  ...  Varies with device
10840  iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[5 rows x 13 columns]

In [69]:
#Checking Number of columns and rows
df1.shape

(10841, 13)

In [99]:
#looking for info
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [102]:
# define a function to get more info from dataset

def infodata(df):
  infodf=pd.DataFrame()
  infodf['App']=df.columns
  infodf['count_of_NaN_values']=df.isnull().sum().values
  infodf['unique_number_of_daata']=df.nunique().values
  infodf['datatype']=df.dtypes.values
  return infodf

In [103]:
#checking more info using defined function
infodata(df1)

               App  count_of_NaN_values  unique_number_of_daata datatype
0              App                    0                    9660   object
1         Category                    0                      34   object
2           Rating                 1474                      40  float64
3          Reviews                    0                    6002   object
4             Size                    0                     462   object
5         Installs                    0                      22   object
6             Type                    1                       3   object
7            Price                    0                      93   object
8   Content Rating                    1                       6   object
9           Genres                    0                     120   object
10    Last Updated                    0                    1378   object
11     Current Ver                    8                    2832   object
12     Android Ver                    3                      33   object

From above it is clear that our dataset 'Rating' column contains lots of null values and 'Content Rating','Current Ver','Android Ver' columns contains very small amount of null values comparing to data we will try to impute or delete those values using best possible way

In [178]:
df1[df1['Content Rating'].isnull()]

                                           App Category  ...  Current Ver Android Ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up         NaN

[1 rows x 13 columns]

In [187]:
df1

                                                     App  ...         Android Ver
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...        4.0.3 and up
1                                    Coloring book moana  ...        4.0.3 and up
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  ...        4.0.3 and up
3                                  Sketch - Draw & Paint  ...          4.2 and up
4                  Pixel Draw - Number Art Coloring Book  ...          4.4 and up
...                                                  ...  ...                 ...
10836                                   Sya9a Maroc - FR  ...          4.1 and up
10837                   Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10838                             Parkinson Exercices FR  ...          2.2 and up
10839                      The SCP Foundation DB fr nn5n  ...  Varies with device
10840      iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[10841 rows x 13 columns]

In [189]:
df1.drop(df1.index[10472],axis=0,inplace=True)

In [192]:
#filling na values using fillna method

df1.Rating.fillna(df1.Rating.median(),inplace=True)

In [206]:
# Converting KB to MB 
df1['Size'] = df1['Size'].apply(lambda x: str(x).replace('Varies with device', 'NaN') if 'Varies with device' in str(x) else x)
df1['Size'] = df1['Size'].apply(lambda x: str(x).replace('M', '') if 'M' in str(x) else x)
df1['Size'] = df1['Size'].apply(lambda x: str(x).replace(',', '') if ',' in str(x) else x)
df1['Size'] = df1['Size'].apply(lambda x: float(str(x).replace('k', '')) / 1024 if 'k' in str(x) else x)
df1['Size'] = df1['Size'].apply(lambda x: float(x))

In [207]:
df1['Installs'] = df1['Installs'].apply(lambda x: str(x).replace('+', '') if '+' in str(x) else x)
df1['Installs'] = df1['Installs'].apply(lambda x: str(x).replace(',', '') if ',' in str(x) else x)

In [208]:
df1['Reviews']=pd.to_numeric(df1['Reviews'])
df1['Installs']=pd.to_numeric(df1['Installs'])
df1['Size']=pd.to_numeric(df1['Size'])

In [209]:
df1.describe()

             Rating       Reviews         Size      Installs
count  10840.000000  1.084000e+04  9145.000000  1.084000e+04
mean       4.206476  4.441529e+05    21.516165  1.546434e+07
std        0.480342  2.927761e+06    22.589084  8.502936e+07
min        1.000000  0.000000e+00     0.008301  0.000000e+00
25%        4.100000  3.800000e+01     4.900000  1.000000e+03
50%        4.300000  2.094000e+03    13.000000  1.000000e+05
75%        4.500000  5.477550e+04    30.000000  5.000000e+06
max        5.000000  7.815831e+07   100.000000  1.000000e+09

In [217]:
df1.Size.fillna(df1.Size.median(),inplace=True)

In [221]:
df1.drop(['Current Ver','Android Ver'],axis=1,inplace=True)
df1.dropna(inplace=True)

In [223]:
infodata(df1)

               App  count_of_NaN_values  unique_number_of_daata datatype
0              App                    0                    9658   object
1         Category                    0                      33   object
2           Rating                    0                      39  float64
3          Reviews                    0                    6001    int64
4             Size                    0                     459  float64
5         Installs                    0                      20    int64
6             Type                    0                       2   object
7            Price                    0                      92   object
8   Content Rating                    0                       6   object
9           Genres                    0                     119   object
10    Last Updated                    0                    1377   object

In [224]:
df1.describe()

             Rating       Reviews          Size      Installs
count  10839.000000  1.083900e+04  10839.000000  1.083900e+04
mean       4.206467  4.441939e+05     20.185195  1.546577e+07
std        0.480363  2.927893e+06     20.977970  8.503315e+07
min        1.000000  0.000000e+00      0.008301  0.000000e+00
25%        4.100000  3.800000e+01      5.900000  3.000000e+03
50%        4.300000  2.094000e+03     13.000000  1.000000e+05
75%        4.500000  5.478300e+04     26.000000  5.000000e+06
max        5.000000  7.815831e+07    100.000000  1.000000e+09